@import "tailwindcss";

/* 1. Ép hiển thị bằng mọi giá */
html, body {
  height: auto !important;
  min-height: 100% !important;
  overflow-x: hidden !important;
  overflow-y: auto !important; /* Đây là phao cứu sinh để không bị trắng trang */
  background-color: #F8FAFC;
}

/* 2. Cấu hình cho Lenis khi nó hoạt động */
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-stopped {
  overflow: hidden;
}

/* 3. Khử răng cưa cho font Inter */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}